- if @current_user.present?
  =breadcrumb_tag do
    %li
      Администрирование
    %li
      = link_to 'Пользователи', users_path
    %li.active
      = t('headers.users.new')

.page-header
  %h1= t('headers.users.new')

= render 'form'
